* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    left: 40%;
}

.instagram-phone img {
    height: 40rem;
}

.animation{
    display: flex;
    align-items: stretch;
}

.animation img:nth-of-type(4){
    height: 100%;
    position: relative;
    left: calc(-106% - 1px);
    bottom: 22px;
    opacity: 1;
    animation-name: img1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes img1{
    0%{opacity: 1;}
    25%{opacity: 0;}
    90%{opacity: 0;}
    100%{opacity: 1;}
}

.animation img:nth-of-type(3){
    height: 100%;
    position: relative;
    left: calc(-81% - 1.5px);
    bottom: 22px;
    opacity: 0;
    animation-name: img2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes img2{
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
}

.animation img:nth-of-type(2){
    height: 100%;
    position: relative;
    left: calc(-56% - 1.5px);
    bottom: 22px;
    opacity: 0;
    animation-name: img3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes img3{
    0%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 0;}
}

.animation img:nth-of-type(1){
    height: 100%;
    position: relative;
    left: calc(-31% - 1.5px);
    bottom: 22px;
    opacity: 0;
    animation-name: img4;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes img4{
    0%{opacity: 0;}
    75%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    height: 32rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
    margin-bottom: 50px;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: blue;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(./img/apple.png);
}

.app-download:nth-child(2) {
    background-image: url(./img/playstore.png);
}

/*Media queries*/

@media screen and (max-width: 1200px){
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        left: 52%;
    }

    .instagram-continue{
        width: 100%;
    }

    .download-app{
        flex-direction: column;
    }
}

@media screen and (max-width: 925px){
    .instagram-phone{
        left: 60%;
    }
}

@media screen and (max-width: 850px){
    body{
        background-color: white;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group{
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 450px){
    .download{
        flex-direction: column;
    }
}
